*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial;
background:#f5f5f5;
}

/* HEADER */
.header{
display:flex;
align-items:center;
gap:20px;
padding:10px 20px;
background:white;
position:sticky;
top:0;
z-index:100;
}

.logo{
width:40px;
height:40px;
border-radius:50%;
background:#e60023;
color:white;
display:flex;
align-items:center;
justify-content:center;
cursor:pointer;
}

/* SEARCH */
#searchForm{
flex:1;
}

#searchInput{
width:100%;
padding:12px 20px;
border-radius:30px;
border:none;
background:#efefef;
}

/* GALLERY */
.gallery{
column-count:5;
column-gap:20px;
padding:20px;
}

.card{
break-inside:avoid;
margin-bottom:20px;
position:relative;
}

.card img{
width:100%;
border-radius:16px;
}

/* USER */
.user{
position:absolute;
bottom:10px;
left:10px;
background:white;
padding:5px 10px;
border-radius:20px;
display:flex;
align-items:center;
gap:5px;
font-size:12px;
}

.user img{
width:25px;
height:25px;
border-radius:50%;
}

/* HOVER */
.card:hover{
transform:scale(1.02);
transition:0.2s;
}

/* RESPONSIVE */
@media(max-width:1200px){
.gallery{column-count:4;}
}

@media(max-width:900px){
.gallery{column-count:3;}
}

@media(max-width:600px){
.gallery{
column-count:2;
padding:10px;
}
}