.card {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.card img {
  width: 100%;
  display: block;
}

/* overlay */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.25);
  opacity: 0;
  transition: 0.3s;
}

.card:hover .overlay {
  opacity: 1;
}

/* botón */
.visit-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: var(--primary);
  color: white;
  padding: 6px 12px;
  border-radius: 20px;
  opacity: 0;
}

.card:hover .visit-btn {
  opacity: 1;
}

/* likes */
.likes {
  position: absolute;
  top: 10px;
  left: 10px;
  background: white;
  padding: 4px 8px;
  border-radius: 20px;
  font-size: 12px;
}

/* user */
.user {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  gap: 6px;
  background: white;
  padding: 5px 8px;
  border-radius: 20px;
}

.user img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}