.card {
  position: relative;
  margin-bottom: 16px;
  break-inside: avoid;
  border-radius: var(--radius);
  overflow: hidden;
  cursor: pointer;
}

/* IMAGEN */
.card img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: var(--radius);
}

/* OVERLAY */
.overlay {
  position: absolute;
  inset: 0;
  border-radius: var(--radius);

  background: linear-gradient(
    to top,
    rgba(0,0,0,0.6),
    rgba(0,0,0,0.2),
    transparent
  );

  opacity: 0;
  transition: 0.3s ease;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

/* HOVER */
.card:hover .overlay {
  opacity: 1;
}

/* BOTÓN VISITAR */
.visit {
  background: var(--primary);
  color: white;
  padding: 6px 14px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  align-self: flex-end;
  transition: 0.2s;
}

.visit:hover {
  background: #ad081b;
}

/* INFO USUARIO */
.info {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
}

.info img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.info span {
  font-size: 12px;
}

/* LIKES */
.stats {
  color: white;
  font-size: 11px;
  opacity: 0.9;
}